<div class="m-2 grid grid-cols-2">
    <div class="m-2" *ngFor="let customLabel of labelList">
        <button mat-button class="bg-blue-300" (click)="customLabelClicked(customLabel.value)"> {{customLabel.label}} </button>
    </div>
</div>

<div class="flex flex-row items-center justify-center">
    <button mat-icon-button (click)="previousClicked()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <span class="example-header-label">{{periodLabel}}</span>
    <button mat-icon-button (click)="nextClicked()">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>


<mat-date-range-picker-actions>
    <div class="flex flex-row w-full justify-between items-center">
        <div class="flex flex-row items-center">
            <mat-icon class="text-md">event</mat-icon>
            {{selectedDate}}
        </div>
        <div>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply (click)="myFun($event)">
                Save
            </button>
        </div>
    </div>
</mat-date-range-picker-actions>