<div class="flex flex-col h-full">
    <app-toolbar toolbarTitle="Employee List"></app-toolbar>
    <div class="flex flex-col h-full justify-between">
        <div class="relative flex flex-col">
            <div *ngIf="empList().length === 0">No records found</div>
            <app-employee-details *ngIf="(empList() | sortByFromDate: 'current') as currentEmployeeList"
                [employeeList]="currentEmployeeList" employeeTitle="Current employees"
                (onDragEnd)="onDragEnded($event)">
            </app-employee-details>

            <app-employee-details *ngIf="(empList() | sortByFromDate: 'previous') as previousEmployeeList"
                [employeeList]="previousEmployeeList" employeeTitle="Previous employees"
                (onDragEnd)="onDragEnded($event)">
            </app-employee-details>
        </div>
    </div>
    <div class="fixed bottom-4 right-2 md:right-[2rem] lg:right-[21rem] xl:right-[26rem] z-20">
        <button mat-fab color="primary" (click)="addEmployee()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <!-- <div class="fixed bottom-4 right-[23rem] z-20">
        <button mat-fab color="primary" (click)="addEmployee()">
            <mat-icon>add</mat-icon>
        </button>
    </div> -->
</div>