<div class="flex flex-col h-full">
    <app-toolbar toolbarTitle="Employee List"></app-toolbar>
    <div class="flex flex-col h-full justify-between p-4">
        <div class="relative flex flex-col">
            <div *ngIf="empList().length === 0">No records found</div>
            <app-employee-details *ngIf="(empList() | sortByFromDate: 'current') as currentEmployeeList"
                [employeeList]="currentEmployeeList" employeeTitle="Current employees"
                (onDragEnd)="onDragEnded($event)">
            </app-employee-details>

            <app-employee-details *ngIf="(empList() | sortByFromDate: 'previous') as previousEmployeeList"
                [employeeList]="previousEmployeeList" employeeTitle="Previous employees"
                (onDragEnd)="onDragEnded($event)">
            </app-employee-details>
        </div>
        <div class="flex self-end">
            <button mat-fab color="primary" (click)="addEmployee()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>