<div class="flex flex-col h-full">
    <app-toolbar *ngIf="!isEditEnabled" toolbarTitle="Add Employee Details"></app-toolbar>
    <app-toolbar *ngIf="isEditEnabled" toolbarTitle="Edit Employee Details" [iconEnabled]="true" iconName="delete" (onAction)="deleteEmp()" ></app-toolbar>

    <form class="flex flex-col h-full justify-between p-4" *ngIf="employeeForm" [formGroup]="employeeForm"
        (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
            <mat-form-field class="w-full">
                <span matPrefix><mat-icon class="m-3" color="primary">person_outline</mat-icon></span>
                <input matInput id="name" type="text" formControlName="name" placeholder="Employee name" required>
            </mat-form-field>
            <mat-form-field class="w-full">
                <span matPrefix><mat-icon class="m-3" color="primary">work_outline</mat-icon></span>
                <mat-select formControlName="role" placeholder="Select role">
                    <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="flex flex-row justify-between items-center gap-2">
                <mat-form-field class="w-full">
                    <input #fromDate matInput formControlName="fromDate" [matDatepicker]="picker1" placeholder="Today">
                    <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 (opened)="datePickerOpened('fromDate')" [calendarHeaderComponent]="dateTemplate">
                    </mat-datepicker>
                </mat-form-field>

                <div><mat-icon color="primary">arrow_right_alt</mat-icon></div>

                <mat-form-field class="w-full">
                    <input matInput formControlName="toDate" [min]="getDateFromDate(fromDate.value)" [matDatepicker]="picker2" placeholder="No date">
                    <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 (opened)="datePickerOpened('toDate')" [calendarHeaderComponent]="dateTemplate">
                    </mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="flex self-end gap-4">
            <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!employeeForm.valid">Save</button>
        </div>

    </form>
</div>